body {
  background: #e3e3e3;
}

.red,
.yellow, 
.green {
  background: #333;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: transparent;
  font-size: 1px;
  margin-bottom: 5px;
}

.red.active {
  background: red;
}

.yellow.active {
  background: yellow;
}

.green.active {
  background: green;
}